body {
  padding-top: 50px;
}

body .container {
  width: 600px;
  padding: 0;
  margin-bottom: 30px;
}

h1, footer {
  text-align: center;
}

header .logo {
  margin-bottom: 20px;
}

form.wufoo {
  margin: 30px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 15px 0;
}

div.buttons {
  margin: 15px 0;
}
